/* 네비게이션 */

.navbar-expand-lg {
    background-color: #cce8fc;
    justify-content: center;


    /* 네비바 고정시 추가 */
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    z-index: 2;
}

.navbar-collapse {
    margin-top: 6px;
    margin-bottom: 6px;
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-brand:hover {
    scale: 1.2;
    transition: all 0.5s;
}


.nav-item {
    margin: 0 12px;
}

.nav-item a {
    font-weight: 700;
}

.nav-item:hover > a{
    scale: 1.1;
    transition: all 0.5s;
}

.dropdown {
    z-index: 1;
}

.dropdown li> a {
    font-weight: 300;
}