/* 경기일정 페이지 스타일 */

* {
    margin: 0;
    padding: 0;
}


.category {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 22px;
}

.category button {
    margin: 3px 5px;
}


/* 경기일시 */
.daytime {
    padding: 16px 5px;
}


/* 경기일정 더보기 버튼 */
.linkBtn {

    margin: 50px 100px 160px;

}

.linkBtn > button {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    font-size: 21px;
}
