<!-- 메인페이지 -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gangwon Sports</title>
    <!-- 파비콘 추가 -->
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/9169/9169933.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/background.css">
    <link rel="stylesheet" href="../style/main.css">
  </head>

  <body>

    <!-- 네비게이션 -->
    <%- include('./common/nav') %>

      <!--Image-->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2500">
          <img src="https://gangwon-fc.com/uploads/2022/10/1667093529_99aafe14b807aeb94ad0.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>강원 FC</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="https://kbl.or.kr/files/db/article/static/26436a06-ca0a-4896-a27d-83aff6821e7c_[B@5a63a7d4.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>원주 DB 프로미</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="https://www.kspo.or.kr/static/kspo_new/images/sub/sports_w.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>화천 KSPO</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="http://www.gncityfc.com/board/data/file/photo/991770687_uyQJhGTm_a328f4bd26c2dad8ad0ee9e939ef78969d17fcbd.JPG" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>강릉시민축구단</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="http://cccitizenfc.co.kr/imgs/733ac02f-4ce3-41b1-8082-f7b787f51566.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>춘천시민축구단</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="https://blog.kakaocdn.net/dn/s6Opg/btq3XsMi6IG/KlIApLT16rJmjBOqdj2iVK/img.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>평창 유나이티드 FC</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="https://img.hankyung.com/photo/202203/AKR20220306070800007_02_i_P4.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>삼척시청 여자 핸드볼단</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
