<nav class="navbar navbar-expand-lg" style="background-color: #cce8fccc;">
    <a class="navbar-brand" href="/">
      <img src="https://cdn-icons-png.flaticon.com/512/9169/9169933.png" style="width: 1cm; height: 1cm;" alt="">
    </a>
    <div class= "items">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
        <!-- <a class="navbar-brand" href="/">
          <img src="https://cdn-icons-png.flaticon.com/512/9169/9169933.png" style="width: 1cm; height: 1cm;" alt="">
        </a> -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" href="Intro">μ†κ°</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pro">ν”„λ΅κµ¬λ‹¨</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Semi">μ„Έλ―Έν”„λ΅κµ¬λ‹¨</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Schedule">κ²½κΈ°μΌμ •</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              μ°λ¦¬ ν€ μ‘μ›ν•κΈ°π™
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/gwFC">κ°•μ›FC</a></li>
              <li><a class="dropdown-item" href="/wjDB">μ›μ£Ό DB ν”„λ΅λ―Έ</a></li>
              <li><a class="dropdown-item" href="/hcKSPO">ν™”μ² KSPO</a></li>
              <li><a class="dropdown-item" href="/gnFC">κ°•λ¦‰μ‹λ―Όμ¶•κµ¬λ‹¨</a></li>
              <li><a class="dropdown-item" href="/ccFC">μ¶μ²μ‹λ―Όμ¶•κµ¬λ‹¨</a></li>
              <li><a class="dropdown-item" href="/pcuFC">ν‰μ°½ μ λ‚μ΄ν‹°λ“FC</a></li>
              <li><a class="dropdown-item" href="/scHB">μ‚Όμ²™μ‹μ²­ μ—¬μ ν•Έλ“λ³Όλ‹¨</a></li>
          </li>
        </ul>
      </div>
    </div>
</nav>