<!-- 프로구단페이지 -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/background.css">
    <link rel="stylesheet" href="../style/nav.css">
  </head>

  <body>
    
    <!-- 네비게이션 -->
    <%- include('nav.ejs') %>
    <h1 class ="pageTitle" style="text-align: center; color: beige;">프로 구단 소개</h1>
    
    <!--Pro Table-->
    <div class="content-box">
      <table class="table table-striped table-hover" style="table-layout: fixed; margin-top: 10px; background-color: white;">
        <thead>
          <tr>
            <th scope="col" width="20%" style="text-align: center;">로고</th>
            <th scope="col" width="10%">팀명</th>
            <th scope="col" width="10%">종목</th>
            <th scope="col" width="10%">리그</th>
            <th scope="col" width="40%" >설명</th>
            <th scope="col" width="10%">SNS</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <th scope="row" style="text-align: center;">
              <button type="button" class="btn btn-outline-secondary">
              <a href="https://gangwon-fc.com//">
              <img src="https://w.namu.la/s/7f6c11e774fa5ccaa0d646edc0945615589175690564d49b92b4ab71d15718bebefc9dc8e2961f5e362d90a97b7f6097b141d9793e80ea596d23ebaf9780601bc6fd72202e60cfca358e5c9c0b518307118efbf19ef9dfd6ae8c129f4e44accb" style="width: 5cm; height: 5cm;" alt="">
              </a>    
              </button>
            </th>
            
            <td>강원FC</td>
            <td>축구</td>
            <td>K리그1</td>
            <td style="word-break: break-all;">정식 명칭은 <b>강원도민프로축구단</b>으로 K리그 1부에 소속되어 있는 도민구단이다. 2008년 12월 18일 창단되었으며, 강릉종합운동장과 춘천송암스포츠타운을 홈구장으로 두고 있다. 메인 스폰서는 하이원리조트이며, 킷 스폰서는 FILA이다. 
              2022 시즌 감독은 최용수 감독이며, 골키퍼는 유상훈, 김정호, 박희근, 이광연, 권재범, 
              수비수는 김영빈, 케빈, 윤석영, 이웅희, 강지훈, 조윤성, 정승용, 임창우, 김진호, 김주형, 김주성, 송준석, 이지우, 최인규, 지의수, 권석주, 김원균, 김기환, 
              미드필더는 서민우, 김대우, 김동현, 한국영, 김현규, 최성민, 홍원진, 이강한, 홍성무, 양현준, 황문기, 
              공격수는 디노, 고무열, 갈레고, 정민우, 신창무, 박경배, 김대원, 이정협, 우병철, 김주형, 강의찬, 홍석환, 김해승, 발샤, 박상혁 선수가 있다. 
              2022 K리그는 최종 6위로 막을 내렸지만, 8월에는 김진호 선수가, 4월, 6월, 7월, 9월에는 양현준 선수가 이달의 영플레이어상을 수상하였다.</td>
            <td><a href="https://www.facebook.com/gangwonfc"><img src="https://cdn-icons-png.flaticon.com/512/174/174848.png" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://www.instagram.com/gangwon_fc/"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://www.youtube.com/user/gangwonfc/featured"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://pf.kakao.com/_EtxoxkM"><img src="https://cdn-icons-png.flaticon.com/512/3991/3991999.png" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://tv.naver.com/gangwonfc"><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTAyMTFfMTI1%2FMDAxNTQ5ODU5MzA0NDcx.fCjswL9VaWMz5D9EWk-QnwjZ-DCp-zhtC8eoOnJF9GEg.yPQtaIO_Yxat5CRxbT3Kmcv6MqM0nLACDuzz7uMTfKAg.JPEG.lotto4496%2F4.JPG&type=sc960_832" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://gangwon-fc.com/match/stadium_gangneung"><img src="https://cdn-icons-png.flaticon.com/512/4133/4133226.png" width="40" height="40" style="margin-bottom: 10px;"></a>
            </td>
          </tr>
          <tr>
            <th scope="row" style="text-align: center;">
              <button type="button" class="btn btn-outline-secondary">
              <a href="https://promy.kbl.or.kr/">
              <img src="https://w.namu.la/s/0b9b5bae4a12990c8322bf9c46fa1dd5941a4b237a08b4681a967156e4eb3dc0f3ad0ced51bd69894e1732771018ada934152d2a5065e0005e68da6084e8b35eccab699be45fedd176bf67a2ae5a0eae195e759205a4838d1b3d54a2ed98f22b" style="width: 5cm; height: 5cm;" alt="">
              </a>    
              </button>
            </th>
            
            <td>원주 DB 프로미</td>
            <td>농구</td>
            <td>한국프로농구</td>
            <td style="word-break: break-all;">정식 명칭은 <b>원주 DB 프로미 프로 농구단</b>으로 1996년 9월 3일 창단되었으며, 원주치악체육관을 홈구장으로 두고 있다. 킷 스폰서는 hummel이다. 
              KBL 통산 26시즌 724승 600패를 기록하였고, 챔피언 결정전 3회 우승, 정규리그 5회 우승이라는 성적을 가지고 있다. 
              2022-23 시즌 감독은 이상범 감독이며, 가드는 박찬희, 이민석, 원종훈, 이준희, 김현호, 정호영, 알바노, 박인웅, 두경민, 최승욱, 
              포워드는 트레드웰, 인승찬, 박상권, 윤호영, 프리먼, 윤성원, 에르난데스, 김형준, 강상재, 
              센터는 이윤수, 김종규 선수가 있다. 2022-23 시즌에는 KBL에서 주관하는 2군 리그인 D리그에 참가하지 않는다.</td>
            <td><a href="https://www.facebook.com/dbpromybasketball"><img src="https://cdn-icons-png.flaticon.com/512/174/174848.png" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://www.instagram.com/dbpromy_official/"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://www.youtube.com/channel/UCugMqpcZRShKcIzDVjS8uxg"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://m.post.naver.com/my.nhn?memberNo=34663910"><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA1MjNfMTc2%2FMDAxNjUzMjgzMDg3NDM3.1S-41uLNm6Iaqc5GlJxvr6QxoHjdVkx3fNItmNCvSIYg.hDEUZj9F-uaZs7Xp6qft6qUUPxZPb-4ZyGPIbRqSDeEg.PNG.marketingrhapsody2%2Fimage.png&type=sc960_832" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://promy.kbl.or.kr/ticket/info"><img src="https://cdn-icons-png.flaticon.com/512/4133/4133226.png" width="40" height="40" style="margin-bottom: 10px;"></a>
  
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>