<!-- 세미프로페이지 -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Semi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/background.css">
    <link rel="stylesheet" href="../style/nav.css">
  </head>

  <body>
    
    <!-- 네비게이션 -->
    <%- include('nav.ejs') %>
    
    <h1 class = "pageTitle" style="text-align: center; color: beige;">세미 프로 구단 소개</h1>

    <!--Semi Table-->
    <div class="content-box">
      <table class="table table-striped table-hover" style="table-layout: center; margin-top: 10px; color: beige;">
        <thead>
          <tr>
            <th scope="col" width="20%" style="text-align: center;">로고</th>
            <th scope="col" width="10%">팀명</th>
            <th scope="col" width="10%">종목</th>
            <th scope="col" width="10%">리그</th>
            <th scope="col" width="40%">설명</th>
            <th scope="col" width="10%">SNS</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row" style="text-align: center;">
              <button type="button" class="btn btn-outline-secondary">
              <a href="https://www.kspo.or.kr/kspo/main/contents.do?menuNo=200409#">
              <img src="https://w.namu.la/s/0f4c98c3f4ccab5f382dbda677fac9ce1124656bade7cf31415c707ca198ff21596d51d0784adf6101f926aef1a970ff8384a788d91b71d6f85611c8a7130e4e1852088f599e68951e4d63f7e89c1f249b2f085d627236b22eeaea626367b85f22c935c86af66118c729d9d30e65d850" style="width: 5cm; height: 5cm;" alt="">
              </a>    
              </button> 
            </th>

            <td style="color: beige;">화천 KSPO</td>
            <td style="color: beige;">여자 축구</td>
            <td style="color: beige;">WK리그</td>
            <td style="color: beige;">정식 명칭은 <b>국민체육진흥공단 여자 축구단</b>으로 WK리그에 소속되어 있다. 2011년 3월 9일 창단되었으며, 화천종합운동장 주경기장을 홈구장으로 두고 있다. 
              여자 축구 국제 대회 우수 성적 거양에 따른 국민적 자부심을 고취 및 국격 향상에 이바지하고, 여자 축구의 열악한 인프라 및 여자 축구 실업 리그의 인기 저조 등으로 민간에 기대하기 어려운 실업팀을 창단하여 여자 축구 활성화에 기여하기 위해 설립되었다. 
              2022 시즌 감독은 강재순 감독이며, 골키퍼는 정보람, 민유경, 수비수는 최수진, 이수빈, 맹다희, 황보람, 윤지현, 고유진, 한주은, 
              미드필더는 박믿음, 곽미진, 이소희, 남궁예지, 목승연, 나츠, 안지혜, 윤한경, 이민화, 이정은, 최정민, 
              공격수는 이새움, 문은주, 조다솜, 후미나 선수가 있다.</td>
            <td style="color: beige;">X</td>
          </tr>

          <tr>
            <th scope="row" style="text-align: center;">
              <button type="button" class="btn btn-outline-secondary">
              <a href="http://www.gncityfc.com/">
              <img src="https://w.namu.la/s/b2200c9fb290f6a850e404e402e2745b8005c7b8f46ccf30fbcf90bd4c467b7df2a0901066d7195892a70fd8790d5e57d42900d1cc9fd116cda78906c9f569cc9537ed5e45b43b228e3ff6d189180d7e56f4962c60185ac32eb5098ee1807b9000beea09811e2f93873e5cc9b2e0d735" style="width: 5cm; height: 5cm;" alt="">
              </a>    
              </button>
            </th>
            
            <td style="color: beige;">강릉시민축구단</td>
            <td style="color: beige;">축구</td>
            <td style="color: beige;">K3리그</td>
            <td style="color: beige;"><b>강릉시민축구단</b>은 K3리그에 소속되어 있는 시민 구단이다. 
              1999년 5월 6일 창단되었다가 2021년 3월 5일 재창단되었으며, 강릉종합운동장과 강릉강남축구공원을 홈구장으로 두고 있다. 
              2022 시즌 감독은 김도근 감독이며, 골키퍼는 황한준, 강호석, 강규민, 수비수는 김유민, 노민우, 지병우, 김민혁, 박선주, 김군일, 김선태, 이병욱, 최정수, 김진규, 홍승기, 
              미드필더는 김보섭, 박민수, 유호성, 이도겸, 차승현, 이제민, 최시온, 정채건, 박경민, 강용석, 백승우, 김정원, 크리스찬, 
              공격수는 주니오, 최남준, 홍정훈, 엄승민, 김동섭, 김진욱, 최진우 선수가 있다. 
              K3리그에서 2022시즌 최종 12위를 기록하였으며, 백승우 선수는 10골 득점으로 득점 5위를 하였다. 
            </td>
            <td>
              <a href="https://www.instagram.com/gangneungcitizen_fc/"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="40cm" height="40cm"></a>
            </td>
          </tr>

          <tr>
            <th scope="row" style="text-align: center;">
              <button type="button" class="btn btn-outline-secondary">
              <a href="http://cccitizenfc.co.kr/">
              <img src="https://w.namu.la/s/0add3917802633a41d53b382eb4c8b64d10a2ec174878bb74f3e89c9c5249eaded56fd33eafdedd421c2be6945eb0f8ff061d784350aa15326cc1bd397ccb68e19c4e821886bcd355ae875487927cac104df5e9f4e9a892e6ee06568f6ff651d" style="width: 5cm; height: 5cm;" alt="">
              </a>    
              </button>
            </th>
            
            <td style="color: beige;">춘천시민축구단</td>
            <td style="color: beige;">축구</td>
            <td style="color: beige;">K3리그</td>
            <td style="color: beige;"><b>춘천시민축구단</b>은 K3리그에 소속되어 있는 사회적 협동조합 형태의 구단이다. 2009년 12월 2일 창단하였으며, 춘천송암스포츠타운 보조경기장과 주경기장을 홈구장으로 두고 있다.  
              2020 시즌 최종 15위를 기록하며 K4리그로 강등되었지만, 2022 시즌 K4리그 최종 순위 3위를 기록하여 K3-K4리그 승강 플레이오프에 참가하였고, 승격에 성공하였다. 
              2022 시즌 감독은 정선우 감독이며, 골키퍼는 김철호, 윤세준, 이대호, 수비수는 이재현, 박천호, 김호영, 오성훈, 전인규, 황은석, 박재민, 김남성, 송주한, 최용훈, 
              미드필더는 김현범, 이상오, 신상휘, 윤동권, 김도형, 조현진, 허창수, 장태인, 정기산, 안성주, 안상수, 정현우, 이지원, 강동혁, 박동현, 
              공격수는 김동욱, 박상현, 정진엽, 한경진, 정민우, 정창용, 김민수, 정세빈 선수가 있다.
            </td>
            <td>
              <a href="https://www.facebook.com/chuncheonfootballclub"><img src="https://cdn-icons-png.flaticon.com/512/174/174848.png" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://www.instagram.com/chuncheoncitizen_fc/"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://www.youtube.com/channel/UClR3HgIg3TgnCHxgdg-PSLA"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
              <a href="https://blog.naver.com/chuncheonmedia"><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA1MjNfMTc2%2FMDAxNjUzMjgzMDg3NDM3.1S-41uLNm6Iaqc5GlJxvr6QxoHjdVkx3fNItmNCvSIYg.hDEUZj9F-uaZs7Xp6qft6qUUPxZPb-4ZyGPIbRqSDeEg.PNG.marketingrhapsody2%2Fimage.png&type=sc960_832" width="40cm" height="40cm" style="margin-bottom: 10px;"></a>
            </td>
          </tr>
          
          <tr>
            <th scope="row" style="text-align: center;">
              <button type="button" class="btn btn-outline-secondary">
              <a href="http://www.pcutdfc.com/">
              <img src="https://w.namu.la/s/d77042c92680f2e4e93f2fd57147f667e946655456e75069086d8ceef424659a1a9d7827b5f1301984bbbf3ef5597f84fc4ad2330e3e844bfbfd386044b843ee9988268af0ac8a42a2e331b435f701e63337332dcbd0a56405a4cbd2d63c734e" style="width: 5cm; height: 5cm;" alt="">
              </a>    
              </button>
            </th>
            
            <td style="color: beige;">평창 유나이티드 FC</td>
            <td style="color: beige;">축구</td>
            <td style="color: beige;">K4리그</td>
            <td style="color: beige;"><b>평창 유나이티드 FC</b>는 K4리그에 소속된 사회적 협동조합 형태의 구단이다. 2021년 3월 9일 창단되었으며, 진부면민체육공원 축구장을 홈구장으로 두고 있다. 
              2022 시즌 감독은 안홍민 감독이며, 골키퍼는 홍진웅, 김연수, 이상형, 수비수는 김광용, 최우석, 이남균, 정우진, 박에녹, 정현구, 이재준, 최현민, 신동석, 이현조, 윤선호, 정진구, 
              미드필더는 김효찬, 안성민, 김경연, 신희준, 박인서, 조상범, 김현성, 공격수는 양요셉, 정성민, 김수성, 안수현, 김종헌, 손민우, 김용태, 신재호 선수가 있다.
              2022 시즌 K4리그 최종 순위 4위를 기록하여 K3-K4리그 승강 플레이오프에 참가하였지만 승격에는 실패하였다.
              공격수인 김종헌 선수는 13골로 득점 순위 5위를 기록하였다.
            </td>
            <td>
              <a href="https://www.facebook.com/pcutdfc"><img src="https://cdn-icons-png.flaticon.com/512/174/174848.png" width="40cm" height="40cm"></a>
              <a href="https://www.instagram.com/pyeongchang_utd_fc/"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="40cm" height="40cm"></a>
              <a href="http://www.pcutdfc.com/contents.do?cid=5709327de19d49a193f40d875d8095ce"><img src="https://cdn-icons-png.flaticon.com/512/4133/4133226.png" width="40" height="40"></a>
            </td>
          </tr>
          
          <tr>
            <th scope="row" style="text-align: center;">
              <button type="button" class="btn btn-outline-secondary">
              <a href="https://www.samcheok.go.kr/specialty/00468/01660.web">
              <img src="https://w.namu.la/s/2072cca5153ca6c8547734bada629e2581c2de8afcfa2e577972b2af855fbed7f46b75220c00cc30aa975270dad29747312dc728bd32a3ab36768662398b50a5b6bd0e14e9ed2de10f5dc3481ae9cb1c5814db966e9f9c57909188a051b1ad64" style="width: 5cm; height: 5cm;" alt="">
              </a>    
              </button>
            </th>
            
            <td style="color: beige;">삼척시청 여자 핸드볼단</td>
            <td style="color: beige;">핸드볼</td>
            <td style="color: beige;">핸드볼 코리아리그</td>
            <td style="color: beige;"><b>삼척시청 여자 핸드볼단</b>은 2004년 2월 12일에 창단되었으며, 스포츠 마케팅을 통한 삼척시 이미지 제고와 홍보효과를 위해 창단되었다. 
              핸드볼 코리아리그에서 2011년부터 2021-22시즌까지 3위 밑으로 떨어진 적이 없다. 2014년, 2015년, 2017년, 2018-19시즌, 2019-20시즌은 3위를 하였으며, 2011년, 2012년, 2016년, 2020-21시즌에는 준우승을 하였다. 
              2013년, 2021-22시즌 총 2번의 우승을 기록하였다. 감독은 이계청 감독이며, 골키퍼는 박미라, 강은지, 레프트백은 한미슬, 이재영, 
              라이트백은 강은서, 박소연, 센터백은 이효진, 송지은, 김소연, 레프트윙은 연수진, 강별, 
              라이트윙은 김윤지, 피벗은 유현지, 김보은, 박은수 선수가 있다.
            </td>
            <td style="color: beige;">X</td>
          </tr>
          

        </tbody>
      </table>
    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>